html {
	height: 100%;
	width: 100%;
	background-color: #999;
	color: white;
	background: radial-gradient(ellipse at top, #66666f 0%, #222226 100%);
}

body {
	text-align: center;
}

table {
	margin: 50px auto;
}

.piano-roll td {
	height: 16px;
	width: 32px;
	background: #555;
	border: 1px solid black;
	margin: 0;
}

.piano-roll td.black-key {
	background-color: #444;
}

.piano-roll td.middle {
	background-color: #888;
}

.piano-roll td.on {
	background-color: #0f0;
	background: linear-gradient(to bottom, #3f3 0%, #0d0 100%);
}

.hidden { display: none; }
